@use "../../styles/variables" as *;

.choice__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1100px;

    &-container {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        box-shadow: 10 -10px 10px 0 rgba(0, 0, 0, 0.5);
    }

    &:hover &-container {
        transform: rotateY(180deg);
    }

    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;
    }
    &-front {
        background-color: #bbb;
        color: black;
    }

    &-back {
        background-color: $flight-roulette-darkamber;
        color: white;
        transform: rotateY(180deg);
    }
    &__flag {
        border-radius: 0;
        width: 70%;
    }
    &__img,
    & video {
        width: 350px;
        height: 350px;
        object-fit: cover;
        z-index: -10;
        border-radius: 0.8rem;
    }
}
