@use "../../styles/variables" as *;
.score-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0.1rem 0;
    width: 100%;
    & * {
        margin: 0;
    }
    &__name {
        width: 6rem;
    }
    &__points {
        width: 2rem;
        @include tablet {
            width: 6rem;
        }
    }
    &__hotel {
        width: 4rem;
        @include tablet {
            width: 12rem;
        }
        & a {
            color: white;
        }
    }

    &__activity {
        width: 5rem;
        @include tablet {
            width: 13rem;
        }

        & a {
            color: white;
        }
    }

    &__restaurant {
        width: 5rem;
        @include tablet {
            width: 13rem;
        }
        & a {
            color: white;
        }
    }
    &__flag {
        height: 1rem;
        &--container {
            width: 2rem;
        }
    }
}
