.score-list-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    margin: 0.1rem 0;
    & * {
        margin: 0;
    }
    &__name {
        width: 6rem;
    }
    &__points {
        width: 8rem;
    }
    &__hotel {
        width: 12rem;
        & a {
            color: white;
        }
    }

    &__activity {
        width: 13rem;
        & a {
            color: white;
        }
    }
    &__flag {
        height: 1rem;
        &--container {
            width: 6rem;
        }
    }
}
