@use "./styles/variables" as *;

li,
ul {
    list-style: none;
    padding: 0;
}
.app-container {
    @include mobile-padding;

    @include tablet {
        @include tablet-padding;
    }
    @include desktop {
        @include desktop-padding;
    }
}

.bg-black {
    background-color: black;
}

button {
    border: 0;
    &:hover {
        background-color: $flight-roulette-amber;
    }
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    &__soft-black {
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 1rem;
        color: white;
    }

    &__soft-blue {
        padding: 1rem;
        background-color: rgba(0, 157, 255, 0.8);
        border-radius: 1rem;
        color: black;
    }

    &__soft-white {
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 1rem;
        color: black;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}
