.selection {
    &__container {
        display: flex;
        flex-direction: row;

        & li {
            display: flex;
            flex-direction: row;
            align-items: center;
            & button {
                width: 2rem;
                height: 2rem;
                border: none;
                border-radius: 50%;
            }
        }
    }
}

.country {
    &__ul {
        display: flex;
        flex-wrap: wrap;
    }
    &__li {
        width: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--flag {
            height: 0.8rem;
        }
    }
}

.your-list {
    &__ul {
        width: 30%;
    }
}
