@use "../../styles/variables" as *;

.videoPos {
    position: fixed;
    // top: 0;

    // right: 0;
    // width: 100vw;
    // height: 100vh;
    object-fit: cover;

    // width: 100vw;
    // height: 105vh;
    transform: translate(-50%, -50%);
}

.width-fit {
    width: 100vw;
}

.video-container {
    // object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    z-index: -1;
}

// .video-center {
//     transform: translate(-50%, -50%);
// }

// .video-shift-down {
//     transform: translate(-50%, -35%);
// }
