.fade-out-container {
    transition: opacity 0.2s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.hide-container {
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.hide {
    transform: translateY(200%);
}
